/*
*{
    font-family: AcademicM54;
}
*/

.name{
    font: 17px AcademicM54;
}

.author{
    font: 14px AcademicM54;
}

.price{
    font: 14px AcademicM54;
    color: #333333;
    letter-spacing: 1px;
}

.add-to-bag{
    color: #2196F3;
    cursor: pointer;
    font-family: AcademicM54;
}
.add-to-bag:hover{
    color: #ff5132;
    font-family: AcademicM54;
}

.added-to-bag{
    color: #ff5132;
    font-family: AcademicM54;
}

.add-to-cart{
    color: #2196F3;
    cursor: pointer;
    font-family: AcademicM54;
}
.add-to-cart:hover{
    color: #ff5132;
    font-family: AcademicM54;
}

.select-all{
    background: #2196F3;
    color: #fff;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 4px;
    font-family: AcademicM54;
}
.select-all:hover{
    background-color: #ff5132;
    font-family: AcademicM54;
}

.hidden{
    display: none;
}
.add-all-to-bag{
    background: #2196F3;
    color: #fff;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 4px;
    font-family: AcademicM54;
}
.add-all-to-bag:hover{
    background-color: #ff5132;
    font-family: AcademicM54;
}
