/*
*Author: Rajan Kumar
*
*Description: This file contains css for responsive grid and media queries
*specially designed for COBOO.
*
*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='date'],
input[type='file'],
input[type='month'],
input[type='week'],
input[type='week'],
input[type='daytime'],
input[type='daytime-local'],
input[type='time'],
input[type='number'],
input[type='tel'],
textarea {
    border: 1px solid #000;
    height: 44px;
    padding: 10px;
    width: 100%;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

input[type='submit'],
input[type='button'] {
    height: 44px;
    padding: 10px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

input:-webkit-autofill {
    background: none;
!important;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    opacity: 0
}

a {
    text-decoration: none;
}

/* **********GRID LAYOUT*************** */

.row {
    position: relative;
    width: 100%;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.row,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.f-none {
    float: none;
}

.h-center {
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.img-responsive {
    width: 100%;
    float: left;
    height: auto;
}

/* ************************MEDIA QUERIES****************************** */
/*
*
*Break points @777px // keeping font-size same
*
*/

@media screen and (max-width: 777px) {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        width: 100%;
        margin: 15px 0;
    }

    .container {
        padding: 0 20px;
    }
    .sm-hide{
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .container {
        padding: 0 10px;
    }
}